.o-home-page {
  height: 100vh;
}
.m-informations-container {
  display: flex;
  height: 75px;
}
.m-each-information {
  flex: 1;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
}
.bg-purple {
  background-color: #712d90;
}
.bg-light-blue {
  background-color: #0083a9;
}
.bg-green {
  background-color: #b2bc35;
}
.bg-yellow {
  background-color: #edc052;
}
.a-information-title {
  font-size: 12px;
}
.a-information-number {
  margin-top: 15px;
  align-self: center;
  font-size: 30px;
}
.m-home-page-table {
  height: calc(100vh - 155px);
  overflow-y: auto;
}
.table {
  width: 100%;
}
.m-home-page-buttons {
  display: flex;
  justify-content: flex-end;
}
.a-save-button {
  margin: 20px;
}
